[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f

[user]
	name = magnusrodseth
	email = magnus.rodseth@gmail.com

[pull]
	ff = only

[init]
	defaultBranch = main

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[add.interactive]
    useBuiltin = false # required for git 2.37.0

[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
    

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[alias]
    ; k - GitKraken in current working directory
    k = !"open -na '/Applications/GitKraken.app/Contents/MacOS/GitKraken' --args -p $(pwd)"
    ; ui - lazygit
    ui = !"/usr/local/bin/lazygit"
    ; fpo - fetch --prune origin
    fpo = fetch --prune origin
    ; ma - merge --abort
    ma = merge --abort
    ; copy-diff - copy the diff of the current branch to the clipboard
    copy-diff = !"git diff | pbcopy && echo 'Copied to clipboard!' || echo 'Error: Failed to copy diff'"
