.DS_Store
.env
rest-client
ignored
**/openai.sh
.config/github-copilot/**
**/stripe/config.toml
.config/StardewValley
.config/swiftpm
.config/zed/prompts
.config/zed/embeddings
.config/zed/conversations
.config/opencode/antigravity-accounts.json